:root {
    /* --primary-bg: #B2FF59; */
    /* --primary-fg: #000a; */
}

body {
    display: grid;
    background-color: #222; /*radial-gradient(circle at top left, #0000 40%, #5575);*/
    background-image: url('/img/background.svg');
    background-size: 100vmin 75vmin;
    background-repeat: no-repeat;
    background-position: bottom right;
}